[submodule "PyGlow"]
	path = PyGlow
	url = https://github.com/benleb/PyGlow.git
[submodule "PiGlow"]
	path = PiGlow
	url = https://github.com/Boeeerb/PiGlow.git
[submodule "instagram-filters"]
	path = instagram-filters
	url = https://github.com/andrewtatham/instagram-filters.git
[submodule "brightpi"]
	path = brightpi
	url = https://github.com/andrewtatham/brightpi.git
[submodule "mcpipy"]
	path = mcpipy
	url = https://github.com/brooksc/mcpipy.git
[submodule "raspi2png"]
	path = raspi2png
	url = https://github.com/AndrewFromMelbourne/raspi2png.git
