APScheduler==3.0.3
astral==0.8.1
astroid==1.3.8
beautifulsoup4==4.4.0
colorama==0.3.3
futures==3.0.3
images2gif==1.0.1
logilab-common==1.0.2
numpy==1.9.2
oauthlib==0.7.2
pil==1.1.7
Pillow==2.9.0
psutil==3.1.1
ptvsd==2.2.0
pyjokes==0.4.1
pylint==1.4.4
pytz==2015.4
requests==2.5.1
requests-oauthlib==0.4.2
six==1.9.0
SQLAlchemy==1.0.8
textblob==0.9.0
twython==3.2.0
tzlocal==1.2
wikipedia==1.4.0
