<html>
<head>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href='/static/styles.css'/>
</head>
<body>
<div class="container" ng-app="myApp" ng-controller="MainCtrl">

    <div class="jumbotron">
        <h1>Yo</h1>
    </div>
    <div class="row">

        <div class="col-md-4">
            <h2>Identities</h2>
            <ul>
                <li ng-repeat="identity in identities">
                    <a href="[[identity.url]]">[[identity.screen_name]]</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Actions</h2>
            <ul>
                <li ng-repeat="action in actions">
                    <a href="[[action.url]]">[[action.label]]</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>