<h2>Exception Summary</h2>

<table ng-repeat="exceptiontype in exceptionsummary">

    <thead>
    <!--<tr>-->
    <!--<th>[[exceptiontype]]</th>-->
    <!--</tr>-->
    <tr>
        <!--<th>Screen Name</th>-->
        <th>Label</th>
        <th>Message</th>
        <th>Count</th>
    </tr>
    </thead>
    <tbody ng-repeat="exception in exceptiontype">
    <tr>
        <!--<td>[[exception.screen_name]]</td>-->
        <td>[[exception.label]]</td>
        <td>[[exception.message]]</td>
        <td>[[exception.count]]</td>
    </tr>
    <tr>
        <td colspan="3">
            <pre>[[exception.stack_trace]]</pre>
        </td>
    </tr>
    </tbody>
</table>
