<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href='/static/styles.css'/>


</head>
<body>
<div class="container" ng-app="myApp" ng-controller="MainCtrl">

    <div class="jumbotron">
        <h1>Yo</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% include "identities.html" %}
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% include "actions.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include "following.html" %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
<script src="/static/arbor.js"></script>
<script src="/static/app.js"></script>
<script src="/static/following.js"></script>


</body>
</html>